<!-- INCLUDE overall_header.html -->
<!-- IF S_USER_LOGGED_IN -->
<div id="map" style="height: 500px"></div>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPmc3roNWNNKp3HKD9IfYDkiKCJgNCANc"></script>
<script type="text/javascript" src="/ext/acme/demo/js/markerclusterer.js"></script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 6,
                    center: {lat: 52, lng: 18.7}
                }),
                data = JSON.parse('{USERS_DATA}'),
                markers = [];
        data.forEach(function (row) {
            markers.push(getMarker(row.location, row.username));
        });
        var markerCluster = new MarkerClusterer(map, markers, {
            imagePath: '/ext/acme/demo/images/m',
            gridSize: 14
        });
    }
    function getMarker(location, username) {
        var marker = new google.maps.Marker({
                    position: location,
                    animation: google.maps.Animation.DROP,
                    title: username
                }),
                infowindow = new google.maps.InfoWindow({
                    content: '<div><strong><a href="{ROOT_PATH}memberlist.php?mode=viewprofile&un=' + username + '">' + username + '</a></strong></div>'
                });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
        return marker;
    }
    google.maps.event.addDomListener(window, 'load', initMap);
</script>
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->
